@model bytegr.candidates.manager.data.Dtos.CandidateDto
@Html.Partial("_SharedViewTitle")

<button type="submit"
        id="submit-form-btn"
        asp-action="Insert" 
        asp-controller="Candidate"
        asp-route-isEditMode="@ViewData["IsEditMode"]"
        asp-route-candidateDto="@Model"
        form="form" class="btn btn-primary btn-sm">
    Submit
</button>

<a asp-action="index" asp-controller="Candidate" class="btn btn-secondary btn-sm">Dismiss</a>

<!-- Form -->
<form method="post" id="form" asp-action="Add" asp-controller="Candidate" asp-route-candidateDto="@Model" enctype="multipart/form-data" style="margin-top:20px">
    <!-- Id -->
    <div class="row form-group" style="padding:3px">
        <div class="col-md-2">
            <label asp-for="Id" style="font-size:larger;font-weight:bolder"></label>
        </div>
        <div class="col-md-4">
            <input asp-for="Id" type="number" class="form-control" readonly />
        </div>
    </div>

    <!-- Last Name -->
    <div class="row form-group" style="padding:3px">
        <div class="col-md-2">
            <label asp-for="LastName" style="font-size:larger;font-weight: bolder"></label>
        </div>
        <div class="col-md-4">
            <input id="input-last-name" type="text" asp-for="LastName" oninput="checkForm()" class="form-control" placeholder="Last Name" required />
        </div>
        <div class="col-md-4">
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
    </div>

    <!-- First Name -->
    <div class="row form-group" style="padding:3px">
        <div class="col-md-2">
            <label asp-for="FirstName" style="font-size:larger;font-weight:bolder"></label>
        </div>
        <div class="col-md-4">
            <input id="input-first-name" type="text" asp-for="FirstName" oninput="checkForm()" class="form-control" placeholder="First Name" required />
        </div>
        <div class="col-md-4">
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
    </div>

    <!-- Email -->
    <div class="row form-group" style="padding:3px">
        <div class="col-md-2">
            <label asp-for="Email" style="font-size:larger;font-weight:bolder"></label>
        </div>
        <div class="col-md-4">
            <input id="input-email" type="email" asp-for="Email" oninput="checkForm()" class="form-control" placeholder="Email Name" required />
        </div>
        <div class="col-md-4">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>

    <!-- Mobile -->
    <div class="row form-group" style="padding:3px">
        <div class="col-md-2">
            <label asp-for="Mobile" style="font-size:larger;font-weight: bolder"></label>
        </div>
        <div class="col-md-4">
            <input id="tel-mobile" type="tel" asp-for="Mobile" oninput="checkForm()" pattern="[0-9]{10}" class="form-control" placeholder="Mobile" />
        </div>
        <div class="col-md-4">
            <span asp-validation-for="Mobile" class="text-danger"></span>
        </div>
    </div>

    <!-- Degrees -->
    <div class="row form-group" style="padding:3px">
        <div class="col-md-2">
            <label asp-for="Degrees" style="font-weight:bolder;font-size:larger"></label>
        </div>
        <div class="col-md-4">
            <select id="selector-cv" asp-for="Degrees" class="form-control" style="margin-bottom:5px">
                @*<option selected>Choose...</option>*@
                @foreach (var degree in Model.Degrees)
                {
                    <option value="@degree.Name">@degree.Name</option>
                    @*<option value="@degree.Id">@degree.Name</option>*@

                }
            </select>

            <button type="button" onclick="addNewDegree()" class="btn btn-outline-primary btn-sm">Add</button>
            <button type="button" onclick="removeDegree()" class="btn btn-outline-danger btn-sm">Remove</button>
            <input type="text" id="selectedOptions" name="selectedOptions" hidden/>

            @*@if (ViewData["IsEditMode"] as bool? ?? false)
            {
                <button type="submit"
                        asp-action="Add"
                        asp-controller="Degree"
                        asp-route-candidate-degreeName=""
                        asp-route-candidateDto="@Model"
                        asp-route-isEditMode="@ViewData["IsEditMode"]" class="btn btn-outline-primary btn-sm">
                    Edit
                </button>
            }*@
        </div>
    </div>

    <!-- File -->
    <div class="row form-group" style="padding:3px">
        <div class="col-md-2">
            <label asp-for="CvFile" style="font-weight:bolder;font-size:larger"></label>
        </div>
        <div class="col-md-4">

            <input id="file-cv-upload" @(Convert.ToBoolean(ViewData["IsEditMode"]) ? "" : "disabled")
                   type="file"
                   asp-for="CvFile"
                   name="formFile"
                   onchange="convertCvFIle()" accept=".pdf, .doc, .docx" class="form-control" style="margin-bottom:5px">

            <button type="submit"
                    id="convert-cv-file"
                    asp-action="UploadFile"
                    asp-controller="Candidate"
                    asp-route-isEditMode="@ViewData["IsEditMode"]"
                    style="display: none" class="btn btn-outline-primary btn-sm">
                Upload
            </button>
        </div>
        <div class="col-md-4">
            @if (Model.CvFile.Length > 0)
            {
                <label asp-for="CvFile" style="font-weight:lighter;font-size:larger;margin-top:5px">Cv OK</label>

                <button type="submit" asp-action="File" asp-controller="Candidate" asp-route-candidateDto="@Model" class="btn btn-secondary btn-sm">dwnld</button>

            }
            else
            {
                <label asp-for="CvFile" style="font-weight:lighter;font-size:larger;margin-top:5px">Cv None</label>
            }
            <span asp-validation-for="CvFile" class="text-danger"></span>
        </div>
    </div>

    <!-- Date Created -->
    <div class="row form-group" style="padding:3px">
        <div class="col-md-2">
            <label asp-for="DateCreated" style="font-weight:bolder;font-size:larger"></label>
        </div>
        <div class="col-md-4">
            <input id="date-created" type="datetime" asp-for="DateCreated" class="form-control" readonly>
        </div>
        <div class="col-md-4">
        </div>
    </div>




    <script>
        function checkForm() {
            var submitButton = document.getElementById('submit-form-btn');
            var submitCvFile = document.getElementById('file-cv-upload');

            var firstNameValue = document.getElementById('input-first-name').value;
            var lastNameValue = document.getElementById('input-last-name').value;
            var emailValue = document.getElementById('input-email').value;
            var mobileValue = document.getElementById('tel-mobile').value;

            if (firstNameValue.trim() !== '' && lastNameValue.trim() !== '' && emailValue.trim() !== '' && mobileValue.trim() !== '' && mobileValue.length === 10) {
                submitButton.disabled = false;
                submitCvFile.disabled = false;
            } else {
                submitButton.disabled = true;
                submitCvFile.disabled = true;
            }
        }
        function addNewDegree() {
            var modelList = document.getElementById('selector-cv');
            var newModelName = prompt('Enter name of degree:');

            if (newModelName) {
                var newOption = document.createElement('option');
                newOption.value = newModelName.toLowerCase().replace(/\s/g, '');
                newOption.text = newModelName;
                modelList.add(newOption);
                modelList.value = newOption.value;
                updateSelectedDegrees();
            }
        }
        function removeDegree() {
            var selectElement = document.getElementById('selector-cv');

            // Check if an option is selected
            if (selectElement.selectedIndex !== -1) {
                // Remove the selected option
                selectElement.remove(selectElement.selectedIndex);
                updateSelectedDegrees();
            }
        }
        function updateSelectedDegrees() {
            var modelList = document.getElementById('selector-cv');
            var selectedOptions = Array.from(modelList.options).map(option => option.value);

            document.getElementById('selectedOptions').value = JSON.stringify(selectedOptions);
        }
        function convertCvFIle() {
            document.getElementById('convert-cv-file').click();
        }</script>

</form>
