@model bytegr.candidates.manager.data.Dtos.CandidateDto
@Html.Partial("_SharedViewTitle")

<button type="submit"
        asp-action="Insert"
        asp-controller="Candidate"
        asp-route-candidateDto="@Model" form="form" class="btn btn-primary btn-sm">
    Submit
</button>

<a asp-action="index"
   asp-controller="Candidate" class="btn btn-secondary btn-sm">Dismiss</a>

<!-- Form -->
<form method="post" id="form" asp-action="Add" asp-controller="Candidate" asp-route-candidateDto="@Model" enctype="multipart/form-data" style="margin-top:20px">
    <!-- Id -->
    <div class="row form-group" style="padding:3px">
        <div class="col-md-2">
            <label asp-for="Id" style="font-size:larger;font-weight:bolder"></label>
        </div>
        <div class="col-md-4">
            <input asp-for="Id" type="number" class="form-control" readonly />
        </div>
    </div>

    <!-- Last Name -->
    <div class="row form-group" style="padding:3px">
        <div class="col-md-2">
            <label asp-for="LastName" style="font-size:larger;font-weight: bolder"></label>
        </div>
        <div class="col-md-4">
            <input id="last-name-input" type="text" asp-for="LastName" class="form-control" placeholder="Last Name" required />
        </div>
        <div class="col-md-4">
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
    </div>

    <!-- First Name -->
    <div class="row form-group" style="padding:3px">
        <div class="col-md-2">
            <label asp-for="FirstName" style="font-size:larger;font-weight:bolder"></label>
        </div>
        <div class="col-md-4">
            <input id="first-name-is-valid" type="text" asp-for="FirstName" class="form-control" placeholder="First Name" required />
        </div>
        <div class="col-md-4">
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
    </div>

    <!-- Email -->
    <div class="row form-group" style="padding:3px">
        <div class="col-md-2">
            <label asp-for="Email" style="font-size:larger;font-weight:bolder"></label>
        </div>
        <div class="col-md-4">
            <input id="email-is-valid" type="email" asp-for="Email" class="form-control" placeholder="Email Name" required />
        </div>
        <div class="col-md-4">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>

    <!-- Mobile -->
    <div class="row form-group" style="padding:3px">
        <div class="col-md-2">
            <label asp-for="Mobile" style="font-size:larger;font-weight: bolder"></label>
        </div>
        <div class="col-md-4">
            <input id="tel-mobile" type="tel" asp-for="Mobile" class="form-control" placeholder="Mobile" />
        </div>
        <div class="col-md-4">
            <span asp-validation-for="Mobile" class="text-danger"></span>
        </div>
    </div>

    <!-- Degrees -->
    <div class="row form-group" style="padding:3px">
        <div class="col-md-2">
            <label asp-for="Degrees" style="font-weight:bolder;font-size:larger"></label>
        </div>
        <div class="col-md-4">
            <select id="selector-cv" asp-for="Degrees" class="form-control" style="margin-bottom:5px">
                @*<option selected>Choose...</option>*@
                @foreach (var degree in Model.Degrees)
                {
                    <option value="@degree.Id">@degree.Name</option>
                }
            </select>
            <button type="submit"
                    asp-action="Add"
                    asp-controller="Degree"
                    asp-route-candidate-degreeName=""
                    asp-route-candidateDto="@Model"
                    asp-route-isEditMode="@ViewData["IsEditMode"]" class="btn btn-outline-primary btn-sm">
                Edit
            </button>
        </div>
    </div>


    <!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
    <!-- File -->
    <div class="row form-group" style="padding:3px">
        <div class="col-md-2">
            <label asp-for="CvFile" style="font-weight:bolder;font-size:larger"></label>
        </div>
        <div class="col-md-4">
            <input id="file-cv-upload" type="file" asp-for="CvFile" accept=".pdf, .doc, .docx" class="form-control">
        </div>
        <div class="col-md-4">
        </div>
    </div>

    <!-- File -->
    <div class="row form-group">
        <div class="col-md-2 col-md-offset-2">
            <label asp-for="CvFile"></label>
        </div>
        <div class="col-md-2">
            <input asp-for="CvFile" type="file" accept=".pdf, .doc, .docx" />
        </div>
        <div class="col-md-4">
            <span asp-validation-for="CvFile" class="text-danger"></span>
        </div>
    </div>
    <!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->



    <!-- Date Created -->
    <div class="row form-group" style="padding:3px">
        <div class="col-md-2">
            <label asp-for="DateCreated" style="font-weight:bolder;font-size:larger"></label>
        </div>
        <div class="col-md-4">
            <input id="date-created" type="datetime" asp-for="DateCreated" class="form-control" readonly>
        </div>
        <div class="col-md-4">
        </div>
    </div>

</form>
