@model bytegr.candidates.manager.data.Dtos.CandidateDto
@Html.Partial("_SharedViewTitle")

<button type="submit"
        asp-action="Add"
        asp-controller="Candidate"
        asp-route-candidateDto="@Model"
        asp-route-isEditMode="@ViewData["IsEditMode"]" form="form" class="btn btn-primary btn-sm">
    Submit
</button>

<button type="button" class="btn btn-secondary btn-sm">Dismiss</button>

<!-- Form -->
<form method="post" id="form" enctype="multipart/form-data" style="margin-top:20px" asp-action="Add" asp-controller="Degree" asp-route-candidateDto="@Model">

    <!-- Id -->
    <div class="row form-group" style="padding:3px">
        <div class="col-md-2">
            <label asp-for="Id" style="font-size:larger;font-weight:bolder"></label>
        </div>
        <div class="col-md-3">
            <input asp-for="Id" type="number" class="form-control" readonly />
        </div>
    </div>

    <!-- New Degree -->
    <div class="row form-group" style="padding:3px">
        <div class="col-md-2">
            <label asp-for="Degrees" style="font-size:larger;font-weight:bolder">Insert degree</label>
        </div>
        <div class="col-md-3">
            <input id="degree-new" type="text" name="degreeName" oninput="checkInput()" class="form-control" placeholder="New degree" />
        </div>
        <div class="col-md-4">
            <button id="degree-button"
                    type="submit"
                    asp-action="Add"
                    asp-controller="Degree"
                    asp-route-candidate-degreeName="degreeName"
                    asp-route-isInsertMode="true"
                    asp-route-candidateDto="@Model.Id"
                    asp-route-isEditMode="@ViewData["IsEditMode"]" style="margin-top:4px;margin-left:-15px" class="btn btn-success btn-sm"
                    disabled>
                Insert
            </button>
        </div>
    </div>

    <!-- Degrees -->
    <div class="row" style="margin-top:20px">
        <div class="col-md-10 col-md-offset-2">
            <table class="table">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>CandidateId</th>
                    <th></th>
                </tr>
                @foreach (var degree in Model.Degrees)
                {
                    <tr>
                        <td>@degree.Id</td>
                        <td>@degree.Name</td>
                        <td>@degree.CandidateId</td>
                        <td>
                            <a asp-controller="Degree"
                               asp-action="Delete"
                               asp-route-degreeId="@degree.Id"
                               asp-route-isEditMode="@ViewData["IsEditMode"]"
                               asp-route-isCandidate="true"
                               asp-route-candidateDto="@Model.Id" class="btn btn-danger btn-sm">Delete</a>
                        </td>
                        @*<button type="submit" asp-action="Delete" asp-controller="Degree" asp-route-candidateDto="@Model.Id" class="btn btn-danger">Delete</button>*@
                    </tr>
                }
            </table>
        </div>
    </div>

    <script>
        function checkInput() {
            var inputText = $('#degree-new').val();

            if (inputText.trim() !== '') {
                $('#degree-button').prop('disabled', false);
            } else {
                $('#degree-button').prop('disabled', true);
            }
        }
    </script>



    <!-- todo::with shared layout-->
    <div class="col-md-2">
        <input type="text" class="form-control" asp-for="LastName" hidden />
    </div>
    <div class="col-md-2">
        <input type="text" class="form-control" asp-for="FirstName" hidden />
    </div>
    <div class="col-md-2">
        <input type="email" class="form-control" asp-for="Email" hidden />
    </div>
    <div class="col-md-2">
        <input type="tel" class="form-control" asp-for="Mobile" hidden />
    </div>
    <div class="col-md-2">
        <input type="file" class="form-control" asp-for="CvFile" hidden />
    </div>
</form>


