@model IEnumerable<bytegr.candidates.manager.data.Dtos.DegreeDto>
@Html.Partial("_SharedViewTitle")

<a asp-action="index" asp-controller="Home" class="btn btn-secondary btn-sm btn-block">Dismiss</a>

<div class="row" style="margin-top:20px">
    <div class="col-md-10 col-md-offset-2">
        <table class="table">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>CandidateId</th>
                <th></th>
            </tr>
            @foreach (var degree in Model)
            {
                <tr>
                    <td>@degree.Id</td>
                    <td>@degree.Name</td>
                    <td>@degree.CandidateId</td>
                    <td>
                        <a asp-controller="Degree"
                           asp-action="Delete"
                           asp-route-degreeId="@degree.Id" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>



