@{
    ViewData["Title"] = "Degrees";
}
@model IEnumerable<bytegr.candidates.manager.data.Dtos.DegreeDto>
@using Microsoft.AspNetCore.Http.Extensions

<h1 style="font-weight:bolder;font-size:68px">Degree</h1>
<p style="scroll-margin-inline-start;margin-top:0px; margin-left:10px;margin-bottom:20px;font-size:x-small">@Context.Request.GetDisplayUrl()</p>

<div class="row" style="margin-top:20px">
    <div class="col-md-10 col-md-offset-2">
        <table class="table">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>CandidateId</th>
            </tr>
            @foreach (var degree in Model)
            {
                <tr>
                    <td>@degree.Id</td>
                    <td>@degree.Name</td>
                    <td>@degree.CandidateId</td>
                    @*<td>
                        <a asp-controller="Degree"
                           asp-action="Delete"
                           asp-route-degreeId="@degree.Id">Delete</a>
                    </td>*@
                </tr>
            }
        </table>
    </div>
</div>



